<div class="header-component">
  Sistema de Informações
</div>

<div class="content-home">
  <div class="column">
    <a routerLink="agencias">
      <img src="../../../assets/images/agencias.png" />
    </a>
    <div class="titulo">
      Agências
    </div>
    <div class="subtitulo">
      Clique para mais Informações
    </div>
  </div>
  <div class="column">
    <a routerLink="grupos-carros">
      <img src="../../../assets/images/gruposCarro.png" />
    </a>
    <div class="titulo">
      Grupos de Carros
    </div>
    <div class="subtitulo">
      Clique para mais Informações
    </div>
  </div>
</div>