<div class="titulo">{{ titulo }}</div>
<div class="ng-autocomplete">
  <ng-autocomplete 
    [placeholder]="placeholder"
    [data]="data"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    (inputFocused)='onFocused()'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item[keyword]"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>