$cinza-body: rgba(196, 196, 196, 0.12);
$cinza-div: #f0f0f0;
$verde-claro: #188441;
$verde-escuro: #004a34;
$verde-pera: #d4db26;
$texto-escuro: #4e5452;
$texto-claro: #676b73;
$cancelar: #e5e5e5;
$erro: #e02020;
$amarelo: #fec020;
$branco: #fff;
$borda: #ddd;