@font-face {
  font-family: 'localiza_din_displaybold';
  src: url('./assets/typography/localizadindisplay-bold-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayBdIt';
  src: url('./assets/typography/localizadindisplay-boldital-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-boldital-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayitalic';
  src: url('./assets/typography/localizadindisplay-italic-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displaylight';
  src: url('./assets/typography/localizadindisplay-light-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayLtIt';
  src: url('./assets/typography/localizadindisplay-lightital-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-lightital-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displaymedium';
  src: url('./assets/typography/localizadindisplay-med-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-med-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayMdIt';
  src: url('./assets/typography/localizadindisplay-medital-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-medital-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayregular';
  src: url('./assets/typography/localizadindisplay-reg-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displaythin';
  src: url('./assets/typography/localizadindisplay-thin-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'localiza_din_displayThIt';
  src: url('./assets/typography/localizadindisplay-thinital-webfont.woff2') format('woff2'),
       url('./assets/typography/localizadindisplay-thinital-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}